<header class="header">
    <nav class="nav flex jc-sb ai-c m-w-75">
        <h1 class="heading"><a href="/">Mybrary</a></h1>
        <ul class="menu flex jc-sb gap-1">
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">Add Author</a></li>
            <li><a href="/books">Books</a></li>
            <li><a href="/books/new">Add Book</a></li>
        </ul>
    </nav>
</header>
