<h2>Recently Added</h2>

<div>
    <% books.forEach(book => { %>
    <img
        height="200"
        width="150"
        src=" <%= book.coverImagePath %> "
        alt="Book Title: <%= book.title %>"
    />
    <% }) %>
</div>
