@import url(../partials/variables.css);
@import url("https://fonts.googleapis.com/css2?family=Babylonica&display=swap");
.header {
    background-color: rgb(78, 78, 160);
}

.nav {
    margin-inline: auto;
    padding: 0.8rem 1rem;
}

.heading {
    font-family: "Babylonica", cursive;
    font-size: 2.2rem;
}

.nav a {
    color: white;
}

.menu > * {
    font-size: 0.9rem;
}
