@import url(../partials/variables.css);

.home {
    text-align: center;
    margin-inline: auto;
    padding: 1rem;
}

.home > h2 {
    font-size: 2.5rem;
}

.books-container {
    padding-block: 1rem;
}
