<h2>Search Author</h2>
<form action="/authors" method="get">
    <input type="text" name="name" value="<%= searchOptions.name %>" />
    <button type="submit">Search</button>
</form>

<% authors.forEach(author => { %>
<div><h2><%= author.name %></h2></div>
<% }) %>
