<div class="container flex">
    <div class="new-author-container flex f-d-c jc-sb">
        <h2>Add Author</h2>
        <%- include('../partials/errorMessage.ejs') %>
        <form class="flex f-d-c ai-c gap-1" action="/authors" method="post">
            <div><%- include('_form_fields') %></div>
            <div>
                <a href="/authors">Cancel</a>
                <button class="button" type="submit">Create Author</button>
            </div>
        </form>
    </div>
</div>
